@font-face {
    font-family: 'jitsi';
    src:url('../fonts/jitsi.eot?94d075');
    src:url('../fonts/jitsi.eot?#iefix94d075') format('embedded-opentype'),
        url('../fonts/jitsi.woff?94d075') format('woff'),
        url('../fonts/jitsi.ttf?94d075') format('truetype'),
        url('../fonts/jitsi.svg?94d075#jitsi') format('svg');
    font-weight: normal;
    font-style: normal;
}

 /**
  * Toolbar button styles.
  */
.button {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.5em;
    height: 50px;
    line-height: 50px;
    position: relative;
    text-align: center;
    vertical-align: center;
    top:0px;
    width: 50px;
    padding: 10px;

}

.button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.toggled {
    background-color: #12499C !important;
}

.toggled.icon-microphone:before {
    content: "\e912" !important;
}

.toggled.icon-camera:before {
    content: "\e919" !important;
}

.button_hangup {
    color:  #bf2117;
}
