name: CI

on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-linux:
    name: Linux
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '16'
    - name: Build it
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        npm install
        npm run dist
    - uses: actions/upload-artifact@v2
      with:
        name: linux-binaries
        path: |
          dist/jitsi-meet-x86_64.AppImage
          dist/latest-linux.yml
  build-mac:
    name: macOS
    runs-on: macos-11
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '16'
    - name: Prepare for app signing and notarization
      env:
        API_KEY: ${{ secrets.api_key }}
      if: ${{ env.API_KEY }}
      run: |
        mkdir -p ~/private_keys/
        echo '${{ secrets.api_key }}' > ~/private_keys/AuthKey_${{ secrets.api_key_id }}.p8
    - name: Build it
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        CSC_LINK: ${{ secrets.mac_cert }}
        CSC_KEY_PASSWORD: ${{ secrets.mac_cert_password }}
        API_KEY_FILE: ~/private_keys/AuthKey_${{ secrets.api_key_id }}.p8
        API_KEY_ID: ${{ secrets.api_key_id }}
        API_KEY_ISSUER_ID: ${{ secrets.api_key_issuer_id }}
      run: |
        npm install
        npm run lint
        npm run dist
    - uses: actions/upload-artifact@v2
      with:
        name: mac-binaries
        path: |
          dist/jitsi-meet.dmg
          dist/jitsi-meet.zip
          dist/latest-mac.yml
  build-windows:
    name: Windows
    runs-on: windows-2019
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '16'
    - name: Build it
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        npm install
        npm run dist
    - uses: actions/upload-artifact@v2
      with:
        name: windows-binaries
        path: |
          dist/jitsi-meet.exe
          dist/latest.yml
