name: Simple CI

on: [pull_request]

jobs:
  run-ci:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - run: sudo apt-get install libx11-dev zlib1g-dev libpng-dev libxtst-dev
    - run: npm install
    - run: npm run lint
